body {
    background-image: linear-gradient(90deg, #131230, #744F5E);
    background-size: cover;
}
h1 {
    font-size: 120px;
    font-weight: bold;
    text-shadow: 4px 4px 4px 4px black;
    color: white;
    text-align: center;
    margin-top: 150px;
}

#btnstart {
    text-align: center;
    margin-top: 50px;
}


#btnstarttxt {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 30px;
    transition-duration: 0.3s;
}
#btnstarttxt:hover{
    color: white;
    font-size: 30px;
    text-shadow: none;
    
}
